
        <mat-toolbar color="primary">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                  <mat-icon>home</mat-icon>
                </button>
                <span>Chewy</span>
                <span class="example-spacer"></span>
              
              </mat-toolbar>
    ​
    ​
        <div class="login-box">
            <h1>Login</h1>
            <div class="textbox">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input style = "width:100%" type="text" placeholder="Username" name="" value="">     
            </div>
            <div class="textbox">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <input style = "width:100%" type="password" placeholder="Password" name="" value="">
            </div>
            
    <div class = "dropdown" style = "display:flex;flex-direction: column;"> 
        
        
                  <mat-form-field appearance="fill">
                        <mat-label>Who Are You?</mat-label>
                        <mat-select [(ngModel)] = 'selectedOption'>
                          <mat-option *ngFor="let role of roles" [value]="role.value">
                            {{role.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <button mat-stroked-button (click) = "login()"> Sign In</button>

            </div>
