<mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>home</mat-icon>
        </button>
        <span>Chewy</span>
        <span class="example-spacer"></span>
      
      </mat-toolbar>
    
        <div [ngStyle]="styling">
            <div style = "display:flex;justify-content: center;flex-direction: column;">
            <div id="video1">
                <div class="remote_calls" [id]="remoteCalls[0]" class="remote"  ></div>
                <!-- <img src="assets/test.png" width="510px" height="320px"/> -->
                <div id="subvideo">
                    <div id="agora_local" class="local" style = "width:100%;"></div>
                </div>
            </div>
            <!-- <div class="col-6"> -->
                    <div style = "width: 508px;display:flex;justify-content: center; flex-direction: column;">
                      <!-- <div class="col-12"> -->
                          <div style = "justify-content: center;display: flex;">
                        <button *ngIf = "showJoinButton" mat-flat-button color="primary" (click)="join()">Connect To User</button>
                        <!-- <button mat-button color="primary" (click)="publish()">Publish Local Stream</button> -->
                        <!-- <button mat-button color="primary" (click)="unpublish()">Unpublish Local Stream</button> -->
                        <button  *ngIf = "showLeaveButton" mat-flat-button color="warn" (click)="leave()">Leave Call</button>
                        <button *ngIf = "!showJoinButton" mat-flat-button color="basic" (click)="reccomendItem()">{{rec_text}}</button>
                            </div>
                        <div style = "display:flex; align-self: center;"> 
                        <mat-accordion style = "margin:20px;" *ngIf = "!showJoinButton"> 

                                <mat-expansion-panel (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false">
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <strong> Manage Recommended Products</strong> 
                                        </mat-panel-title>
                               
                              </mat-expansion-panel-header>
                           <div style = "display:flex; flex-wrap: wrap; justify-content: space-around;">
                              <mat-card class = "item" > 
                                  <mat-card-title>
                                      Chuckit! Ultra Rubber Ball Tough Dog Toy
                                  </mat-card-title>
                            
                                  <mat-card-subtitle>
                                      Category: Toy Price: $5.01
                                  </mat-card-subtitle>
                            
                                  <mat-card-content style = "display: flex;justify-content: center;">
                                    <img style = "width:200px" src="https://img.chewy.com/is/image/catalog/90246_MAIN._AC_SL1500_V1527093481_.jpg" alt="">
                                  </mat-card-content>
                                  <div style = "display: flex;justify-content: flex-end;"> 
                                        <button mat-icon-button aria-label="Example icon button with a menu icon">
                                                <mat-icon>delete</mat-icon>
                                              </button>

                                  </div>
                                 
                                 
                              </mat-card>
                          
                            </div>
                            </mat-expansion-panel>
                            </mat-accordion>
                    </div>   

                      <!-- </div> -->
                      <!-- <div class="col-12">
                        User id: {{ uid }}
                      </div> -->
                    </div>
                </div>
                  <!-- </div> -->
            <!-- <div id="chatandlist">
                <div id="chat">
                    <div id="storedcomments"></div>
                    <div id="cfunctions">
                        <input type="textbox" value="Send a comment..." id="new-comment" onclick="clickedontextbox()">
                        <input type="button" value="Send" onclick="newcomment()" >
                    </div>
                </div>
                <div id="list" onclick="additem()">
                    <div id="item">
                        item
                    </div>
                </div>
            </div> -->
            
            <div *ngIf = "showRec" id="chrome-extension">
        <iframe  src="https://chewy.com" frameborder="0" style = "width: 100%;height: 100%;"></iframe>            </div>
        </div>
